<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Le panier de Mamie</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ab3238c2d0.js"></script>
</head>

<body style="background-color: darkslategrey; color: floralwhite;">
<img class = "img-responsive" width="100%" height
        ="50%"  src="img/banner.jpg" alt="La banniere">
  <p>Bienvenue sur notre site marchand</p>
  <div class="container">
    <span th:text="${message}"></span>
  </div>
  <div class="container">

    <div class="btn-group float-right m-3">
      <a href="/panier" class="btn "><i class="fas fa-shopping-basket fa-2x" style="color:#FFFFFF;"></i><p class="text-info">Accedez à votre panier</p></a>
    </div>

    <div class="btn-group float-right m-3">
      <a href="/identification" class="btn "><i class="fas fa-user-circle fa-2x" style="color:#FFFFFF;"></i><p class="text-info">Identifiez vous</p></a>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped table-dark">
      <thead class="thead-light">
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">    </th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="product : ${products}">
        <td><img th:src= " 'img/' + ${product.productName} + '.jpg'" width="50px" th:alt=" ${product.productName}"></td>
        <td scope="row" th:text="${product.productName}"></td>
        <td th:text="${product.productPrice}"></td>
        <td><a th:href= " '/addBasket/' + ${product.id} " class="btn btn-warning"> Add to basket </a></td>
      </tr>

      </tbody>
    </table>
  </div>

</body>

</html>
