<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Le panier de Mamie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ab3238c2d0.js"></script>
</head>

<body style="background-color: darkslategrey; color: floralwhite;">
<img class = "img-responsive" width="100%" height="50%"  src="img/banner.jpg" alt="La banniere">
<p>Mon panier</p>
<div class="container">
    <span th:text="${message}"></span>
</div>
<div class="container">
</div>
<div class="container">
    <table class="table table-striped table-dark">
        <thead class="thead-light">
        <tr>
            <th scope ="col">Pictures</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${panier.finalList}">

            <td><img th:src= " 'img/' + ${product.get().getProductName()} + '.jpg'" width="50px" th:alt=" ${product.get().getProductName()}"></td>
            <td scope="row" th:text="${product.get().getProductName()}"></td>
            <td th:text="${product.get().getProductPrice()}"></td>
            <td th:text="${product.get().getSelectionAmount()}"></td>
            <td><a  th:href= " '/deletefrombasket/' + ${product.get().getId()}" class="btn btn-danger"> X </a></td>
        </tr>


        </tbody>
    </table>

    <div class="btn-group float-right m-2">
        <a href="/index" class="btn "><i class="fas fa-arrow-alt-circle-left fa-2x" style="color:#FFFFFF;" ></i><p>Retour à l'index</p></a>
    </div>



</div>



</body>

</html>
